# Ignore config files
.env
config/*.yaml

# Ignore binary and temporary files
bin/*
*.exe
tmp

# Ignore system files
.DS_Store

# Ignore IDE files
.idea/
.vscode/

# Ignore storage files
.database/
.redis/

# Ignore test results
coverage.*

# Ignore temp files and TODO
TODO*
